<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <header>
        <%- include('header') %>
    </header>
    <main>
        <div class="container text-center">
            <h2 class="text-center">Nos categories de produits</h2>
            <div class="row row-category">
                <% categories.forEach(function(category) { %>
                    <a href="/<%= category.categoryName.replaceAll(' ', '-').replace('é', 'e') %>"
                        class="card card-category <%= category.categoryName.replaceAll(' ', '-').replace('é', 'e').toLowerCase() %>">
                        <div class="card-body">
                            <p class="card-text">
                                <%= category.categoryName %>
                            </p>
                        </div>
                    </a>
                    <% }); %>

            </div>
        </div>
        <div class="container text-center" style="margin-top: 20px;">
            <h2 class="text-center">Nos produits best-seller</h2>
            <div class="row">
                <% products.forEach(function(product) { %>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">
                                <%= product.productName %>
                            </h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-body-secondary">
                                <%= product.productPrice %>€
                            </h6>
                            <p class="card-text">
                                <%= product.productDescription.substring(0, 100) + " ..." %>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="/produit/<%= product._id %>" class="btn">Voir le produit</a>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </main>
    <%- include('footer'); -%>
</body>

</html>