<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <header>
        <%- include('../header') %>
    </header>
    <main>
        <div class="container form-container" style="margin-bottom: 20px;margin-top: 10px;">
            <h2 class="text-center">Modifier un produit</h2>
            <form action="/update-product/<%= product._id %>" method="POST">
                <div class="mb-3">
                    <label for="productName" class="form-label">Nom du produit</label>
                    <input type="text" class="form-control" id="productName" name="productName"
                        value="<%= product.productName %>">
                </div>
                <div class="mb-3">
                    <label for="productPrice" class="form-label">Prix du produit</label>
                    <input type="text" class="form-control" id="productPrice" name="productPrice"
                        value="<%= product.productPrice %>">
                </div>
                <div class="mb-3">
                    <label for="productPrice" class="form-label">Catégorie du produit</label>
                    <select class="form-select" name="ownedByCategory" aria-label="ownedByCategory">
                        <option <%=product.ownedByCategory=="6436c678a7b03f225d71218d" ? 'selected' : '' %>
                            value="6436c678a7b03f225d71218d">Maquillage</option>
                        <option <%=product.ownedByCategory=="6437b43b36ed00060e206bd6" ? 'selected' : '' %>
                            value="6437b43b36ed00060e206bd6">Soin du corps</option>
                        <option <%=product.ownedByCategory=="6437b46436ed00060e206bda" ? 'selected' : '' %>
                            value="6437b46436ed00060e206bda">Soin du visage</option>
                        <option <%=product.ownedByCategory=="6437caa764ae079bbff039a8" ? 'selected' : '' %>
                            value="6437caa764ae079bbff039a8">Beauté des mains</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="productDescription" class="form-label">Description du produit</label>
                    <textarea class="form-control" id="productDescription" name="productDescription"
                        rows="7"><%= product.productDescription %></textarea>
                </div>
                <button type="submit" class="btn btnSubmit" style="width: 100%;">Valider</button>
            </form>
        </div>
    </main>
    <footer>
        <%- include('../footer'); -%>
    </footer>
</body>

</html>